
.fornecedores-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.fornecedores-container h2 {
    margin-bottom: 20px;
}

.fornecedores-container .btn-primary {
    margin-bottom: 20px;
}


.fornecedores-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.fornecedor-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.fornecedor-info {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.fornecedor-info span {
    margin-bottom: 5px;
}

.fornecedor-actions {
    display: flex;
    align-items: center;
}

.btn {
    margin-right: 5px;
}
.custom-modal-width {
    max-width: 800px;
    width: 90%;
}

.fornecedores-modal-theme .modal-header {
    background-color: #212529;
    color: white;
    border-bottom: 1px solid #000;
    border-radius: 0;
}

.fornecedores-modal-theme .modal-title {
    color: white;
}

.fornecedores-modal-theme .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
}

.fornecedores-modal-theme .modal-content {
    border-radius: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    border: none;
    padding-top: 0;
}

.fornecedores-modal-theme .modal-body {
    padding: 1.5rem;
}

.fornecedores-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.fornecedores-table th,
.fornecedores-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    vertical-align: middle;
}

.fornecedores-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.fornecedores-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.fornecedores-table tr:hover {
    background-color: #f1f1f1;
}

.fornecedores-table .actions-cell {
    text-align: center;
    white-space: nowrap;
}